.doctor-area,
.assessment-section,
.community-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctor-area {
  gap: 2.5vw;
  margin: 0vw 10vw;
  padding: 32px 0px;
}

.assessment-section {
  gap: 2.5vw;
  margin: 0vw 20vw;
  padding: 24px 0px;
}

h1 {
  font-size: 2em;
  line-height: 1.5;
  color: #0f0062;
  font-weight: 400;
}

.search-area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #ffb865;
  width: 40vw;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 4px;
}

.search-bar {
  width: 100%;
  height: 4vh;
  font-size: 1.2em;
  background-color: #ffb865;
  border: none;
  outline: none;
  margin-left: 16px;
}

.search-icon,
.menu-icon {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-left: 12px;
  border: black;
  margin-bottom: 0px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.doctor-area-image {
  width: 50%;
}

.green-btn {
  background-color: #81c784;
  border: none;
  padding: 12px 20px;
  color: white;
  border-radius: 37px;
  cursor: pointer;
}

.assessment-img {
  width: 33%;
}

h1,
.quiz-parag,
button {
  margin-bottom: 22px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #65558f;
  border-radius: 50%;
}

.inital-name {
  font-size: 1.3rem;
  color: white;
}

.community-card-header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 16px;
  gap: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.category,
.description,
.community-card-gname {
  font-weight: 400;
  margin-left: 16px;
  margin-bottom: 8px;
  color: #49454f;
}

.community-card-gname {
  color: black;
  font-weight: 500;
  margin-top: 8px;
}

.description {
  height: auto;
  width: 328px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limits to 3 lines */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.community-card-button {
  display: flex;
  justify-content: end;
  align-items: center;
}

.community-btn {
  margin-bottom: 12px;
  margin-top: 4px;
  margin-right: 16px;
}

.green-btn:hover {
  background-color: #45a049;
}

.community-section {
  margin-bottom: 32px;
}

.community-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
}

.community-card {
  width: 360px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
}
